body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.study-header {
    height: 50vh;
    min-height: 300px;
    background: url('images/keyboardheader.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img {
    height: 230px;
}

.card {
    height: 100%;
}
